= javascript_include_tag 'jquery-1.11.0.min.js'
-#= javascript_include_tag 'bootstrap.min.js'
= javascript_include_tag 'foundation.min.js'
= javascript_include_tag 'highlight.pack.js'
= javascript_include_tag 'd3-3.5.0.min.js'
= javascript_include_tag 'c3.min.js'
:javascript
  hljs.initHighlightingOnLoad();
  $(document).foundation();

:javascript
  $(function(){
    var scrollTarget = function(href){
      var target = $('.column-content a[href^=' + href + ']'),
        position;

      if (!target || !target.length){
        return;
      }

      position = target.offset().top - 60;
      $('body').animate({
        scrollTop: position
      }, 350, 'swing');
    }

    $('a[href^=#]').click(function(){
      scrollTarget($(this).attr('href'));
    });

    $(window).on('hashchange', function(){
      scrollTarget(window.location.hash);
    }).trigger('hashchange');
  });
