= javascript_include_tag 'jquery-1.11.0.min.js'
-#= javascript_include_tag 'bootstrap.min.js'
= javascript_include_tag 'foundation.min.js'
= javascript_include_tag 'highlight.pack.js'
= javascript_include_tag 'd3-3.5.0.min.js'
= javascript_include_tag 'c3.min.js'
:javascript
  hljs.initHighlightingOnLoad();
  $(document).foundation();

:javascript
  $(function(){
    $('a[href^=#]').click(function(){
      var href= $(this).attr("href"),
          target = $('.column-content a[href^=' + href + ']'), position;
      if (!target) { return false; }
      position = target.offset().top - 60;
      $("html, body").animate({scrollTop:position}, 350, "swing");
      return false;
    });
  });
