.page-header.title
  %h1( style="float:left;" )
    C3.js
    %small D3-based reusable chart library
  #link
    %a( href="https://github.com/masayuki0812/c3" target="_blank" )
      %img.git-icon( src="/img/GitHub-Mark-64px.png" )
  .clearfix

.chart
  #message
    %button.btn.btn-primary( type="button" onclick="startDemo();") Start Demo
  #chart

.page-header.sub
  %h2 Setup
.sourcecode.highlight
  %pre
    %code.html
      :preserve
        <span class="comment">&lt;!-- Load css for c3 basic styles --&gt;</span>
        &lt;<span class="tag">link</span> <span class="attr">rel</span>=<span class="value">"stylesheet"</span> <span class="attr">type</span>=<span class="value">"text/css"</span> <span class="attr">href</span>=<span class="value">"/path/to/c3.css"</span>&gt;
        <span class="comment">&lt;!-- Load d3.js and c3.js --&gt;</span>
        &lt;<span class="tag">script</span> <span class="attr">src</span>=<span class="value">"/path/to/d3.v3.min.js"</span> <span class="attr">charset</span>=<span class="value">"utf-8"</span>&gt;&lt;/<span class="tag">script</span>&gt;
        &lt;<span class="tag">script</span> <span class="attr">src</span>=<span class="value">"/path/to/c3.min.js"</span>&gt;&lt;/<span class="tag">script</span>&gt;</code></pre>

%br

.page-header.sub
  %h2 Tips
.section
  = partial :index_item_title, locals: { id: 'chart', name: 'Chart' }
  %div
    .row
      = partial :index_item, locals: { id: 'simple_multiple' }
      = partial :index_item, locals: { id: 'timeseries' }
      = partial :index_item, locals: { id: 'chart_spline' }
    .row
      = partial :index_item, locals: { id: 'simple_xy' }
      = partial :index_item, locals: { id: 'simple_xy_multiple' }
      = partial :index_item, locals: { id: 'simple_regions' }
    .row
      = partial :index_item, locals: { id: 'chart_bar' }
      = partial :index_item, locals: { id: 'chart_bar_negative' }
      = partial :index_item, locals: { id: 'chart_bar_stacked' }
    .row
      = partial :index_item, locals: { id: 'chart_scatter' }
      = partial :index_item, locals: { id: 'chart_pie' }
      = partial :index_item, locals: { id: 'chart_donut' }
    .row
      = partial :index_item, locals: { id: 'chart_area' }
      = partial :index_item, locals: { id: 'chart_combination' }

.section
  = partial :index_item_title, locals: { id: 'axis', name: 'Axis' }
  %div
    .row
      = partial :index_item, locals: { id: 'categorized' }
      = partial :index_item, locals: { id: 'axes_y2' }
      = partial :index_item, locals: { id: 'axes_rotated' }
    .row
      = partial :index_item, locals: { id: 'axes_x_tick_rotate' }
      = partial :index_item, locals: { id: 'axes_x_tick_format' }
      = partial :index_item, locals: { id: 'axes_x_tick_count' }
    .row
      = partial :index_item, locals: { id: 'axes_x_tick_culling' }
      = partial :index_item, locals: { id: 'axes_x_tick_fit' }
      = partial :index_item, locals: { id: 'axes_x_localtime' }
    .row
      = partial :index_item, locals: { id: 'axes_y_tick_format' }
      = partial :index_item, locals: { id: 'axes_y_padding' }
      = partial :index_item, locals: { id: 'axes_y_range' }
    .row
      = partial :index_item, locals: { id: 'axes_label' }
      = partial :index_item, locals: { id: 'axes_label_position' }

.section
  = partial :index_item_title, locals: { id: 'data', name: 'Data' }
  %div
    .row
      = partial :index_item, locals: { id: 'data_columned' }
      = partial :index_item, locals: { id: 'data_rowed' }
      = partial :index_item, locals: { id: 'data_url' }
    .row
      = partial :index_item, locals: { id: 'data_load' }
      = partial :index_item, locals: { id: 'data_name' }
      = partial :index_item, locals: { id: 'data_xformat' }
    .row
      = partial :index_item, locals: { id: 'data_stringx' }
      = partial :index_item, locals: { id: 'data_order' }
      = partial :index_item, locals: { id: 'data_label' }

.section
  = partial :index_item_title, locals: { id: 'legend', name: 'Legend' }
  %div
    .row
      = partial :index_item, locals: { id: 'options_legend' }
      = partial :index_item, locals: { id: 'legend_position' }

.section
  = partial :index_item_title, locals: { id: 'tooltip', name: 'Tooltip' }
  %div
    .row
      = partial :index_item, locals: { id: 'tooltip_show' }
      = partial :index_item, locals: { id: 'tooltip_format' }

.section
  = partial :index_item_title, locals: { id: 'grid', name: 'Grid' }
  %div
    .row
      = partial :index_item, locals: { id: 'options_gridline' }
      = partial :index_item, locals: { id: 'grid_x_lines' }
      = partial :index_item, locals: { id: 'grid_y_lines' }

.section
  = partial :index_item_title, locals: { id: 'interaction', name: 'Interaction' }
  %div
    .row
      = partial :index_item, locals: { id: 'options_subchart' }
      = partial :index_item, locals: { id: 'interaction_zoom' }

.section
  = partial :index_item_title, locals: { id: 'chart_options', name: 'Chart Options' }
  %div
    .row
      = partial :index_item, locals: { id: 'region' }
      = partial :index_item, locals: { id: 'options_size' }
      = partial :index_item, locals: { id: 'options_padding' }
    .row
      = partial :index_item, locals: { id: 'options_color' }
      = partial :index_item, locals: { id: 'transition_duration' }

.section
  = partial :index_item_title, locals: { id: 'api', name: 'API' }
  %div
    .row
      = partial :index_item, locals: { id: 'api_resize' }
      = partial :index_item, locals: { id: 'api_data_name' }
      = partial :index_item, locals: { id: 'api_axis_label' }
    .row
      = partial :index_item, locals: { id: 'api_axis_range' }

.section
  = partial :index_item_title, locals: { id: 'transform', name: 'Transform' }
  %div
    .row
      = partial :index_item, locals: { id: 'transform_line' }
      = partial :index_item, locals: { id: 'transform_spline' }
      = partial :index_item, locals: { id: 'transform_bar' }
    .row
      = partial :index_item, locals: { id: 'transform_area' }
      = partial :index_item, locals: { id: 'transform_areaspline' }
      = partial :index_item, locals: { id: 'transform_scatter' }
    .row
      = partial :index_item, locals: { id: 'transform_pie' }
      = partial :index_item, locals: { id: 'transform_donut' }

.section
  = partial :index_item_title, locals: { id: 'style', name: 'Style' }
  %div
    .row
      = partial :index_item, locals: { id: 'style_region' }

= partial :footer
= partial :script
= javascript_include_tag 'index'
