.container.sidemenu
  .row
    .large-3.medium-4.columns.column-menu
      .side-bar
        %ul.side-nav
          %li
            %strong OPTIONS

          %li Chart
          = partial :reference_menu_item, locals: { id: 'bindto' }
          = partial :reference_menu_item, locals: { id: 'size.width' }
          = partial :reference_menu_item, locals: { id: 'size.height' }
          = partial :reference_menu_item, locals: { id: 'padding.top' }
          = partial :reference_menu_item, locals: { id: 'padding.right' }
          = partial :reference_menu_item, locals: { id: 'padding.bottom' }
          = partial :reference_menu_item, locals: { id: 'padding.left' }
          = partial :reference_menu_item, locals: { id: 'color.pattern' }
          = partial :reference_menu_item, locals: { id: 'interaction.enabled' }
          = partial :reference_menu_item, locals: { id: 'transition.duration' }
          = partial :reference_menu_item, locals: { id: 'onmouseover' }
          = partial :reference_menu_item, locals: { id: 'onmouseout' }
          = partial :reference_menu_item, locals: { id: 'onresize' }
          = partial :reference_menu_item, locals: { id: 'onresized' }

          %li Data
          = partial :reference_menu_item, locals: { id: 'data.x' }
          = partial :reference_menu_item, locals: { id: 'data.xs' }
          = partial :reference_menu_item, locals: { id: 'data.x_format' }
          -#= partial :reference_menu_item, locals: { id: 'data.id_converter' }
          = partial :reference_menu_item, locals: { id: 'data.names' }
          = partial :reference_menu_item, locals: { id: 'data.classes' }
          = partial :reference_menu_item, locals: { id: 'data.groups' }
          = partial :reference_menu_item, locals: { id: 'data.axes' }
          = partial :reference_menu_item, locals: { id: 'data.type' }
          = partial :reference_menu_item, locals: { id: 'data.types' }
          = partial :reference_menu_item, locals: { id: 'data.labels' }
          = partial :reference_menu_item, locals: { id: 'data.order' }
          = partial :reference_menu_item, locals: { id: 'data.regions' }
          = partial :reference_menu_item, locals: { id: 'data.color' }
          = partial :reference_menu_item, locals: { id: 'data.colors' }
          = partial :reference_menu_item, locals: { id: 'data.hide' }
          -#= partial :reference_menu_item, locals: { id: 'data.filter' }
          = partial :reference_menu_item, locals: { id: 'data.selection.enabled' }
          = partial :reference_menu_item, locals: { id: 'data.selection.grouped' }
          = partial :reference_menu_item, locals: { id: 'data.selection.multiple' }
          = partial :reference_menu_item, locals: { id: 'data.selection.isselectable' }
          = partial :reference_menu_item, locals: { id: 'data.onclick' }
          = partial :reference_menu_item, locals: { id: 'data.onmouseover' }
          = partial :reference_menu_item, locals: { id: 'data.onmouseout' }
          = partial :reference_menu_item, locals: { id: 'data.onselected' }
          = partial :reference_menu_item, locals: { id: 'data.onunselected' }
          = partial :reference_menu_item, locals: { id: 'data.ondragstart' }
          = partial :reference_menu_item, locals: { id: 'data.ondragend' }

          %li Axis
          = partial :reference_menu_item, locals: { id: 'axis.rotated' }
          = partial :reference_menu_item, locals: { id: 'axis.x.show' }
          -#= partial :reference_menu_item, locals: { id: 'axis.x.type' }
          = partial :reference_menu_item, locals: { id: 'axis.x.localtime' }
          = partial :reference_menu_item, locals: { id: 'axis.x.categories' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.centered' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.format' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.culling' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.culling.max' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.count' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.fit' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.values' }
          = partial :reference_menu_item, locals: { id: 'axis.x.tick.rotate' }
          = partial :reference_menu_item, locals: { id: 'axis.x.max' }
          = partial :reference_menu_item, locals: { id: 'axis.x.min' }
          = partial :reference_menu_item, locals: { id: 'axis.x.padding' }
          = partial :reference_menu_item, locals: { id: 'axis.x.height' }
          -#= partial :reference_menu_item, locals: { id: 'axis.x.default' }
          = partial :reference_menu_item, locals: { id: 'axis.x.label' }
          = partial :reference_menu_item, locals: { id: 'axis.y.show' }
          = partial :reference_menu_item, locals: { id: 'axis.y.max' }
          = partial :reference_menu_item, locals: { id: 'axis.y.min' }
          = partial :reference_menu_item, locals: { id: 'axis.y.center' }
          = partial :reference_menu_item, locals: { id: 'axis.y.label' }
          -#= partial :reference_menu_item, locals: { id: 'axis.y.inner', experimental: true }
          = partial :reference_menu_item, locals: { id: 'axis.y.tick.format' }
          = partial :reference_menu_item, locals: { id: 'axis.y.padding' }
          = partial :reference_menu_item, locals: { id: 'axis.y.ticks' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.show' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.max' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.min' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.center' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.label' }
          -#= partial :reference_menu_item, locals: { id: 'axis.y2.inner', experimental: true }
          = partial :reference_menu_item, locals: { id: 'axis.y2.tick.format' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.padding' }
          = partial :reference_menu_item, locals: { id: 'axis.y2.ticks' }

          %li Grid
          = partial :reference_menu_item, locals: { id: 'grid.x.show' }
          -#= partial :reference_menu_item, locals: { id: 'grid.x.type' }
          = partial :reference_menu_item, locals: { id: 'grid.x.lines' }
          = partial :reference_menu_item, locals: { id: 'grid.y.show' }
          = partial :reference_menu_item, locals: { id: 'grid.y.lines' }
          = partial :reference_menu_item, locals: { id: 'grid.y.ticks' }

          %li Region
          = partial :reference_menu_item, locals: { id: 'regions' }

          %li Legend
          = partial :reference_menu_item, locals: { id: 'legend.show' }
          = partial :reference_menu_item, locals: { id: 'legend.position' }
          = partial :reference_menu_item, locals: { id: 'legend.item.onclick' }
          = partial :reference_menu_item, locals: { id: 'legend.item.onmouseover' }
          = partial :reference_menu_item, locals: { id: 'legend.item.onmouseout' }
          = partial :reference_menu_item, locals: { id: 'legend.equally' }

          %li Tooltip
          = partial :reference_menu_item, locals: { id: 'tooltip.show' }
          = partial :reference_menu_item, locals: { id: 'tooltip.grouped' }
          = partial :reference_menu_item, locals: { id: 'tooltip.format.title' }
          = partial :reference_menu_item, locals: { id: 'tooltip.format.name' }
          = partial :reference_menu_item, locals: { id: 'tooltip.format.value' }
          = partial :reference_menu_item, locals: { id: 'tooltip.contents' }
          -#= partial :reference_menu_item, locals: { id: 'tooltip.init.show' }
          -#= partial :reference_menu_item, locals: { id: 'tooltip.init.x' }
          -#= partial :reference_menu_item, locals: { id: 'tooltip.init.position' }

          %li Subchart
          = partial :reference_menu_item, locals: { id: 'subchart.show', experimental: true }
          = partial :reference_menu_item, locals: { id: 'subchart.size.height', experimental: true }

          %li Zoom
          = partial :reference_menu_item, locals: { id: 'zoom.enabled', experimental: true }
          -#= partial :reference_menu_item, locals: { id: 'zoom.extent', experimental: true }
          -#= partial :reference_menu_item, locals: { id: 'zoom.privileged', experimental: true }

          %li Point
          = partial :reference_menu_item, locals: { id: 'point.show' }
          = partial :reference_menu_item, locals: { id: 'point.r' }
          = partial :reference_menu_item, locals: { id: 'point.focus.expand.enabled' }
          = partial :reference_menu_item, locals: { id: 'point.focus.expand.r' }
          = partial :reference_menu_item, locals: { id: 'point.select.r' }

          %li Line
          = partial :reference_menu_item, locals: { id: 'line.connect_null' }

          %li Bar
          = partial :reference_menu_item, locals: { id: 'bar.width' }
          = partial :reference_menu_item, locals: { id: 'bar.width.ratio' }

          %li Pie
          = partial :reference_menu_item, locals: { id: 'pie.label.show' }
          = partial :reference_menu_item, locals: { id: 'pie.label.format' }
          = partial :reference_menu_item, locals: { id: 'pie.expand' }

          %li Donut
          = partial :reference_menu_item, locals: { id: 'donut.label.show' }
          = partial :reference_menu_item, locals: { id: 'donut.label.format' }
          = partial :reference_menu_item, locals: { id: 'donut.expand' }
          = partial :reference_menu_item, locals: { id: 'donut.title' }

          %li.margin-medium-top
            %strong API

          = partial :reference_menu_item, locals: { id: 'api.focus' }
          = partial :reference_menu_item, locals: { id: 'api.defocus' }
          = partial :reference_menu_item, locals: { id: 'api.revert' }
          = partial :reference_menu_item, locals: { id: 'api.show' }
          = partial :reference_menu_item, locals: { id: 'api.hide' }
          = partial :reference_menu_item, locals: { id: 'api.toggle' }
          = partial :reference_menu_item, locals: { id: 'api.load' }
          = partial :reference_menu_item, locals: { id: 'api.unload' }
          = partial :reference_menu_item, locals: { id: 'api.flow' }
          = partial :reference_menu_item, locals: { id: 'api.select' }
          = partial :reference_menu_item, locals: { id: 'api.unselect' }
          = partial :reference_menu_item, locals: { id: 'api.selected' }
          = partial :reference_menu_item, locals: { id: 'api.transform' }
          = partial :reference_menu_item, locals: { id: 'api.groups' }
          = partial :reference_menu_item, locals: { id: 'api.xgrids' }
          = partial :reference_menu_item, locals: { id: 'api.xgrids.add' }
          = partial :reference_menu_item, locals: { id: 'api.xgrids.remove' }
          = partial :reference_menu_item, locals: { id: 'api.ygrids' }
          = partial :reference_menu_item, locals: { id: 'api.ygrids.add' }
          = partial :reference_menu_item, locals: { id: 'api.ygrids.remove' }
          = partial :reference_menu_item, locals: { id: 'api.regions' }
          = partial :reference_menu_item, locals: { id: 'api.regions.add' }
          = partial :reference_menu_item, locals: { id: 'api.regions.remove' }
          = partial :reference_menu_item, locals: { id: 'api.data.get' }
          = partial :reference_menu_item, locals: { id: 'api.data.getAsTarget' }
          = partial :reference_menu_item, locals: { id: 'api.data.names' }
          = partial :reference_menu_item, locals: { id: 'api.data.colors' }
          = partial :reference_menu_item, locals: { id: 'api.data.targets' }
          = partial :reference_menu_item, locals: { id: 'api.x' }
          = partial :reference_menu_item, locals: { id: 'api.xs' }
          = partial :reference_menu_item, locals: { id: 'api.color' }
          = partial :reference_menu_item, locals: { id: 'api.axis.labels' }
          = partial :reference_menu_item, locals: { id: 'api.axis.min' }
          = partial :reference_menu_item, locals: { id: 'api.axis.max' }
          = partial :reference_menu_item, locals: { id: 'api.axis.range' }
          = partial :reference_menu_item, locals: { id: 'api.legend.show' }
          = partial :reference_menu_item, locals: { id: 'api.legend.hide' }
          = partial :reference_menu_item, locals: { id: 'api.unzoom' }
          = partial :reference_menu_item, locals: { id: 'api.zoom.enable' }
          = partial :reference_menu_item, locals: { id: 'api.resize' }
          = partial :reference_menu_item, locals: { id: 'api.flush' }
          = partial :reference_menu_item, locals: { id: 'api.destroy' }

          %li.margin-medium-top
            %strong CLASS

          = partial :reference_menu_item, locals: { id: 'class.c3-chart' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-line' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-lines' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-bar' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-bars' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-text' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-texts' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arc' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs-title' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs-background' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs-gauge-unit' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs-gauge-max' }
          = partial :reference_menu_item, locals: { id: 'class.c3-chart-arcs-gauge-min' }
          = partial :reference_menu_item, locals: { id: 'class.c3-selected-circle' }
          = partial :reference_menu_item, locals: { id: 'class.c3-selected-circles' }
          = partial :reference_menu_item, locals: { id: 'class.c3-event-rect' }
          = partial :reference_menu_item, locals: { id: 'class.c3-event-rects' }
          = partial :reference_menu_item, locals: { id: 'class.c3-event-rects-single' }
          = partial :reference_menu_item, locals: { id: 'class.c3-event-rects-multiple' }
          = partial :reference_menu_item, locals: { id: 'class.c3-zoom-rect' }
          = partial :reference_menu_item, locals: { id: 'class.c3-brush' }
          = partial :reference_menu_item, locals: { id: 'class.c3-focused' }
          = partial :reference_menu_item, locals: { id: 'class.c3-region' }
          = partial :reference_menu_item, locals: { id: 'class.c3-regions' }
          = partial :reference_menu_item, locals: { id: 'class.c3-tooltip' }
          = partial :reference_menu_item, locals: { id: 'class.c3-tooltip-name' }
          = partial :reference_menu_item, locals: { id: 'class.c3-shape' }
          = partial :reference_menu_item, locals: { id: 'class.c3-shapes' }
          = partial :reference_menu_item, locals: { id: 'class.c3-line' }
          = partial :reference_menu_item, locals: { id: 'class.c3-lines' }
          = partial :reference_menu_item, locals: { id: 'class.c3-bar' }
          = partial :reference_menu_item, locals: { id: 'class.c3-bars' }
          = partial :reference_menu_item, locals: { id: 'class.c3-circle' }
          = partial :reference_menu_item, locals: { id: 'class.c3-circles' }
          = partial :reference_menu_item, locals: { id: 'class.c3-arc' }
          = partial :reference_menu_item, locals: { id: 'class.c3-arcs' }
          = partial :reference_menu_item, locals: { id: 'class.c3-area' }
          = partial :reference_menu_item, locals: { id: 'class.c3-areas' }
          = partial :reference_menu_item, locals: { id: 'class.c3-empty' }
          = partial :reference_menu_item, locals: { id: 'class.c3-text' }
          = partial :reference_menu_item, locals: { id: 'class.c3-texts' }
          = partial :reference_menu_item, locals: { id: 'class.c3-gauge-value' }
          = partial :reference_menu_item, locals: { id: 'class.c3-grid' }
          = partial :reference_menu_item, locals: { id: 'class.c3-xgrid' }
          = partial :reference_menu_item, locals: { id: 'class.c3-xgrids' }
          = partial :reference_menu_item, locals: { id: 'class.c3-xgrid-line' }
          = partial :reference_menu_item, locals: { id: 'class.c3-xgrid-lines' }
          = partial :reference_menu_item, locals: { id: 'class.c3-xgrid-focus' }
          = partial :reference_menu_item, locals: { id: 'class.c3-ygrid' }
          = partial :reference_menu_item, locals: { id: 'class.c3-ygrids' }
          = partial :reference_menu_item, locals: { id: 'class.c3-ygrid-line' }
          = partial :reference_menu_item, locals: { id: 'class.c3-ygrid-lines' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-x' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-x-label' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-y' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-y-label' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-y2' }
          = partial :reference_menu_item, locals: { id: 'class.c3-axis-y2-label' }
          = partial :reference_menu_item, locals: { id: 'class.c3-legend-item' }
          = partial :reference_menu_item, locals: { id: 'class.c3-legend-item-event' }
          = partial :reference_menu_item, locals: { id: 'class.c3-legend-item-tile' }
          = partial :reference_menu_item, locals: { id: 'class.c3-legend-item-hidden' }
          = partial :reference_menu_item, locals: { id: 'class.c3-legend-item-focused' }


    .large-9.medium-8.columns.column-content
      %section
        %h2 Options
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'bindto' }
        %p The element, by CSS selector, which the chart will append to. Default is <code>'#chart'</code>.
        %pre { bindto: '#myContainer' }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'size.width' }
        %p The desired width of the chart element.
        %pre { size: { width: 100 } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'size.height' }
        %p The desired height of the chart element.
        %pre { size: { height: 320 } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'padding.top' }
        %p The padding on the top of the chart.
        %pre { padding: { top: 0 }}
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'padding.right' }
        %p The padding on the right of the chart.
        %pre { padding: { right: 0 }}
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'padding.bottom' }
        %p The padding on the bottom of the chart.
        %pre { padding: { bottom: 0 }}
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'padding.left' }
        %p The padding on the left of the chart.
        %pre { padding: { left: 0 }}
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'color.pattern' }
        %p Set custom color pattern.
        %pre  color: { pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a' ] }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'interaction.enabled' }
        %p Indicate if the chart should have interactions. Default is <code>true</code>.
        %pre  interaction: { enabled: true || false }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'transition.duration' }
        %p Set duration of transition (in milliseconds) for chart animation. Default is <code>350</code>ms.
        %pre  transition: { duration: 100 }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'onmouseover' }
        %p Set a callback to execute when mouse enters on chart.
        %pre  onmouseover: function() { ... }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'onmouseout' }
        %p Set a callback to execute when mouse leaves chart.
        %pre  onmouseout: function() { ... }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'onresize' }
        %p Set a callback to execute when user resizes the screen.
        %pre  onresize: function() { ... }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'onresized' }
        %p Set a callback to execute when screen resize finish.
        %pre  onresized: function() { ... }
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.x' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.xs' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.x_format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.names' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.classes' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.groups' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.axes' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.type' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.types' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.labels' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.order' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.regions' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.color' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.colors' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.hide' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.selection.enabled' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.selection.grouped' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.selection.multiple' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.selection.isselectable' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.onclick' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.onmouseover' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.onmouseout' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.onselected' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.onunselected' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.ondragstart' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'data.ondragend' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.rotated' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.localtime' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.categories' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.centered' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.culling' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.culling.max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.count' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.fit' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.values' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.tick.rotate' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.min' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.padding' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.height' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.default' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.x.label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.min' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.center' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.tick.format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.padding' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y.ticks' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.min' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.center' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.tick.format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.padding' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'axis.y2.ticks' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.x.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.x.type' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.x.lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.y.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.y.lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'grid.y.ticks' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'regions' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.position' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.item.onclick' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.item.onmouseover' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.item.onmouseout' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'legend.equally' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'tooltip.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'tooltip.grouped' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'tooltip.format.title' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'tooltip.format.value' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'tooltip.contents' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'subchart.show', experimental: true }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'subchart.size.height', experimental: true }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'zoom.enabled', experimental: true }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'point.show' }
        %p Whether to show each point in line. Default is <code>true</code>
        %pre { point: { show: false } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'point.r' }
        %p The radius size of each point. Default is <code>2.5</code>
        %pre { point: { r: 5 } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'point.focus.expand.enabled' }
        %p Whether to expand each point on focus. Default is <code>true</code>
        %pre { point: { focus: { expand: { enabled: true } } } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'point.focus.expand.r' }
        %p The radius size of each point on focus.
        %pre { point: { focus: { expand: { r: 1 } } } }
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'point.select.r' }
        %p The radius size of each point on selected.
        %pre { point: { select: { r: 3 } } }
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'line.connect_null' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'bar.width' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'bar.width.ratio' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'pie.label.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'pie.label.format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'pie.expand' }
        %p ...
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'donut.label.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'donut.label.format' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'donut.expand' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'donut.title' }
        %p ...
      %hr

      %br
      %section
        %h2 API
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.focus' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.defocus' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.revert' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.hide' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.toggle' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.load' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.unload' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.flow' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.select' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.unselect' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.selected' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.transform' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.groups' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.xgrids' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.xgrids.add' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.xgrids.remove' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.ygrids' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.ygrids.add' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.ygrids.remove' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.regions' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.regions.add' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.regions.remove' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.data.get' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.data.getAsTarget' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.data.names' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.data.colors' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.data.targets' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.x' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.xs' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.color' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.axis.labels' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.axis.min' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.axis.max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.axis.range' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.legend.show' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.legend.hide' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.unzoom' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.zoom.enable' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.resize' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.flush' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'api.destroy' }
        %p ...
      %hr

      %br
      %section
        %h2 CLASS
      %hr

      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-line' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-bar' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-bars' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-text' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-texts' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arc' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs-title' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs-background' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs-gauge-unit' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs-gauge-max' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-chart-arcs-gauge-min' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-selected-circle' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-selected-circles' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-event-rect' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-event-rects' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-event-rects-single' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-event-rects-multiple' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-zoom-rect' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-brush' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-focused' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-region' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-regions' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-tooltip' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-tooltip-name' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-shape' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-shapes' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-line' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-bar' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-bars' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-circle' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-circles' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-arc' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-arcs' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-area' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-areas' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-empty' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-text' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-texts' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-gauge-value' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-grid' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-xgrid' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-xgrids' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-xgrid-line' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-xgrid-lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-xgrid-focus' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-ygrid' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-ygrids' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-ygrid-line' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-ygrid-lines' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-x' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-x-label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-y' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-y-label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-y2' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-axis-y2-label' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-legend-item' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-legend-item-event' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-legend-item-tile' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-legend-item-hidden' }
        %p ...
      %hr
      %section
        %h3
          = partial :reference_item_link, locals: { id: 'class.c3-legend-item-focused' }
        %p ...
      %hr

  = partial :footer

= partial :script
